<div class="emailList">
  <div class="emailList__settings">
    <div class="emailList__settingsLeft">
      <input type="checkbox" />
      <span class="material-icons"> arrow_drop_down </span>
      <span class="material-icons"> redo </span>
      <span class="material-icons"> more_vert </span>
    </div>
    <div class="emailList__settingsRight">
      <span class="material-icons"> chevron_left </span>
      <span class="material-icons"> chevron_right </span>
      <span class="material-icons"> keyboard_hide </span>
      <span class="material-icons"> settings </span>
    </div>
  </div>

  <div class="emailList__sections">
    @for (item of sectionItems; track item.label) {
      <div class="section" [class.section__selected]="item.selected">
        <span class="material-icons"> {{ item.icon }} </span>
        <h4>{{ item.label }}</h4>
      </div>
    }
  </div>

  <div class="emailList__list">
    @for (email of emailRows; track $index) {
      <div class="emailRow">
        <div class="emailRow__options">
          <input type="checkbox" />
          <span class="material-icons"> star_border </span>
          <span class="material-icons"> label_important </span>
        </div>

        <h3 class="emailRow__title">{{ email.sender }}</h3>

        <div class="emailRow__message">
          <h4>
            {{ email.subject }}
            <span class="emailRow__description"> - {{ email.description }} </span>
          </h4>
        </div>

        <p class="emailRow__time">{{ email.time }}</p>
      </div>
    }
  </div>
</div>

